.div_n1
{
	width:1250px;
	height:300px;
	background:#808080;
	border-radius:10px 10px 10px 10px;
	border:5px solid black;
}

.text
{
	color:white;
	text-align:center;
	font-size:50px;
}

.text2
{
	
	
	text-align:center;
	
	
}

.div_n2
{
	width:1250px;
	height:auto;
	background:#00FFFF;
	border:5px solid black;
}

.img
{
	width:500px;
	height:500px;
	position:relative;
	left:350px;
}

.div_for_text
{
	width:700px;
	height:auto;
	word-wrap:break-word;
	position:relative;
	left:350px;
}
